*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #34495E;
}
html{
    scroll-behavior:smooth;
}

.main-caption{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
}


.main-caption h1{
    font-size: 50px;
}

.main-caption p{
    color: white;
    font-size: 17px;
    display: flex;
    font-weight: 400%;
    font-family: Okra, Helvetica, sans-serif;
}

#line2{
    margin-top: -42px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); */
    width: 100vw;
}


.goto-top-button img{
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 28px;
    right: 2%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 2px solid black;
    border-radius: 20px;
}

.goto-top-button img:hover{
    height: 40px;
    width: 30px;
}


.top-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(photos/pc-bg1.jpg);
    background-size: cover;
    /* filter: blur(1px); */
    z-index: -1; 
}


.nav-container{
    width:100vw;
    height:10vh;
    background: transparent;
    display: flex;
    justify-content: center;
    background-color: #273746;
}

h1{
    color:white;
    margin:10px;
    margin-left: 30px;
}

ul{
    list-style: none;
    display: flex;
    margin: 10px;
}

a{
    /* display: inline-block; */
    color:#FFFFFFB8;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-bottom: none;
}

a:hover{
    color:#FFFFFF;
}

li{
    margin: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.menu-title{
    height: 50px;
    width: 150px;
    /* background-color: #5D6D7E; */
    background-color:#34495E;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.menu-title h2{
    margin:12px;
    color: white;
    margin-left: 15px;
    /* font-family: 'Raleway',sans-serif; */
}

.item-container{
    margin-top: 20px;
    width:90%;
    height:210vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.item-container img{
    height:150px;
    width:150px;
    margin:20px;
    border-radius: 15px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    margin: 20px;
    height:300px;
    width:300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    transition: box-shadow;
}

/* .item-container img:hover{
    height: 200px;
    width: 200px;
} */

h3{
    font-family: 'Open Sans', sans-serif;
}

section:hover{
    height:320px;
    width:320px;
}

p{
    margin:20px;
    margin-left: 35px;
    font-family: Okra, Helvetica, sans-serif;
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    width:90%;
    height: 100vh;
    margin-top: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.about-us p{
    margin:40px;
    /* margin-top: 10px; */
}

.aboutus-title{
    height:50px;
    width: 130px;
    background-color: #34495E;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.aboutus-title h2{
    margin: 12px;
    margin-left: 20px;
    color: white;
}

#to-move{
    margin-top: 0.1px;
}


.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    width:90%;
    height:80vh;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contactus-title{
    height:50px;
    width: 140px;
    background-color: #34495E;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.contactus-title h2{
    margin: 10px;
    color:white
}

.email,.phone,.address{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:0.1px
}


.contact-info{
    border: 2px solid black;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.contact-info img{
    margin-left: 30px;
    height: 30px;
    width: 30px;
}
.contact-map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30%;
}

iframe{
    height: 300px;
    width: 400px;
    margin: 10px;
}

.maps{
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 15px; */
    /* margin-top: -30px; */
}


.maps h3{
    margin: 10px;
    color: white;
}

.hint{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.credit{
    margin: 3px;
    margin-bottom: 20px;
    /* width: 58%; */
    font-size: 20px;
    border-radius: 35px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    align-items: center;
}

.credit h6{
    margin: 8px;
}


@media only screen and (max-width: 550px) {
    .background-image{
        background-image: url(photos/mob-bg.jpg);
    }

    .nav-container{
        height: 0%;
        background-color: transparent;
    }

    .menu-title{
        width:160px;
    }

    .menu-title h2{
        margin:12px;
        color: white;
    }

    .goto-top-button img:hover{
        height: 30px;
        width: 30px;
    }

    .item-container{
        height:400vh;
    }

    .first-row,.second-row,.third-row{
        flex-direction: column;
    }

    .about-us{
        height: 130vh;
    }
    .contact-us{
        gap:20px;
        height: 95vh;
    }

    .contactus-title{
        width: 150px;
    }

    .contact-map{
        flex-direction: column;
        gap:50px;
    }


    .aboutus-title{
        width: 150px;
    }
    .credit{
        border-radius: 15px;
        margin: 20px;
        margin-top: 1px;
        margin-bottom: 30px;
    }

    .maps{
        margin-top: -30px;
    }
    .maps h3{
        margin: 10px;
    }
    iframe{
        height: 300px;
        width: 300px;
    }
}